!-- Sidebar -->
<%- include ("./partials/sidebars") %>

<!-- TOP Nav Bar -->
<%- include ("./partials/navbar") %>
<!-- TOP Nav Bar END -->

<!-- Page Content  -->
<div id="content-page" class="content-page">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-15">
            <div class="iq-card">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Order Information</h4>
                  </div>
               </div>
               <div class="iq-card-body">
                  <div class="new-user-info">
                     <form method="post" action="/order/add" enctype="application/x-www-form-urlencoded">
                        <div class="row">
                           <div class="form-group col-md-6">
                              <label for="customer">Select Customer:</label>
                              <select class="custom-select" name="customer" id="customer" required>
                                <option value="" selected disabled hidden>Select a Customer</option>
                                <% for (customer of customers) { %>
                                  <option value="<%= customer._id %>"><%= customer.full_name %></option>
                                <% } %>
                              </select>
                           </div>
                           <div class="form-group col-md-6">
                              <label for="message">Message:</label>
                              <input type="text" class="form-control" id="message" name="message"
                                 placeholder="Message" required>
                           </div>
                           <div class="form-group col-md-6">
                              <label for="shipping_address">Shipping Address:</label>
                              <input type="text" class="form-control" id="shipping_address" name="shipping_address" placeholder="Shipping Address" required>
                           </div>
                           <div class="form-group col-md-6">
                              <label for="product">Product:</label>
                              <select class="custom-select" name="product" id="product" required>
                                <option value="" selected disabled hidden>Select a Product</option>
                                <% for (product of products) { %>
                                  <option value="<%= product._id %>"><%= product.name %></option>
                                <% } %>
                              </select>
                           </div>
                           <div class="form-group col-md-6">
                            <label for="backneck">Product Quantity:</label>
                            <select class="custom-select" name="product_quantity" id="product_quantity" required>
                              <option value="" selected disabled hidden>Select a Quantity</option>
                              <% for (let i = 1; i <= Array(20).fill(null).length; i++) { %>
                                <option value="<%= i %>"><%= i %></option>
                              <% } %>
                            </select>
                         </div>
                           <div class="form-group col-md-6">
                              <label for="status">Status:</label>
                              <select class="custom-select" name="status" id="status">
                                <option value="pending" selected>Pending</option>
                                <!-- <option value="fulfilled">Fulfilled</option>
                                <option value="retuned">Retuned</option> -->
                              </select>
                           </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary">Add New Order</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
