<div class="wrapper">
   <!-- Sidebar  -->
   <%- include ("./partials/sidebars") %>

   <!-- TOP Nav Bar -->
   <%- include ("./partials/navbar") %>
   <!-- TOP Nav Bar END -->
   <!-- Page Content  -->
   <div id="content-page" class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="row">
               <div class="col-lg-4">
                  <div class="iq-card iq-card-block iq-card-stretch">
                     <div class="iq-card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                           <div class="ml-2">
                              <h5 class="mb-1">Total Followers</h5>
                              <span class="h4 text-dark mb-0 counter d-inline-block w-100">68,586</span>
                           </div>
                           <div class="icon iq-icon-box bg-primary rounded-circle m-0" data-wow-delay="0.2s">
                              <i class="fa fa-users"></i>
                           </div>
                        </div>
                     </div>
                     <div id="service-chart-01"></div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="iq-card iq-card-block iq-card-stretch">
                     <div class="iq-card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                           <div class="ml-2">
                              <h5 class="mb-1">Monthly sales</h5>
                              <span class="h4 text-dark mb-0 counter d-inline-block w-100">48,625</span>
                           </div>
                           <div class="icon iq-icon-box bg-success rounded-circle m-0" data-wow-delay="0.2s">
                              <i class="fa fa-usd"></i>
                           </div>
                        </div>
                     </div>
                     <div id="service-chart-02"></div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="iq-card iq-card-block iq-card-stretch">
                     <div class="iq-card-body">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                           <div class="ml-2">
                              <h5 class="mb-1">Yearly Sales</h5>
                              <span class="h4 text-dark mb-0 counter d-inline-block w-100">35,859</span>
                           </div>
                           <div class="icon iq-icon-box bg-danger rounded-circle m-0" data-wow-delay="0.2s">
                              <i class="fa fa-money"></i>
                           </div>
                        </div>
                     </div>
                     <div id="service-chart-03"></div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6 col-lg-3">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body relative-background">
                           <div class="d-flex align-items-center">
                              <div class="rounded-circle iq-card-icon iq-bg-primary mr-3"> <i
                                    class="ri-exchange-dollar-line"></i></div>
                              <div class="text-left">
                                 <h4 class="">$425</h4>
                                 <h5 class="">Net sales</h5>
                              </div>
                           </div>
                           <p class=" mb-0 mt-3">Total for This Month.</p>
                           <div class="background-image">
                              <img src="images/page-img/36.png" class="img-fluid" alt="img-36">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body relative-background">
                           <div class="d-flex align-items-center">
                              <div class="rounded-circle iq-card-icon iq-bg-warning mr-3"> <i class="ri-guide-line"></i>
                              </div>
                              <div class="text-left">
                                 <h4 class="">$425</h4>
                                 <h5 class="">Gross profit</h5>
                              </div>
                           </div>
                           <p class=" mb-0 mt-3">Total for This Month.</p>
                           <div class="background-image">
                              <img src="images/page-img/37.png" class="img-fluid" alt="img-37">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body relative-background">
                           <div class="d-flex align-items-center">
                              <div class="rounded-circle iq-card-icon iq-bg-danger mr-3"> <i
                                    class="ri-money-pound-circle-line"></i></div>
                              <div class="text-left">
                                 <h4 class="">425</h4>
                                 <h5 class="">Gross margin</h5>
                              </div>
                           </div>
                           <p class=" mb-0 mt-3">Total for This Month.</p>
                           <div class="background-image">
                              <img src="images/page-img/38.png" class="img-fluid" alt="img-38">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body relative-background">
                           <div class="d-flex align-items-center">
                              <div class="rounded-circle iq-card-icon iq-bg-info mr-3"> <i class="ri-numbers-line"></i>
                              </div>
                              <div class="text-left">
                                 <h4 class="">425</h4>
                                 <h5 class="">Average order value</h5>
                              </div>
                           </div>
                           <p class=" mb-0 mt-3">Total for This Month.</p>
                           <div class="background-image">
                              <img src="images/page-img/39.png" class="img-fluid" alt="img-39">
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="position: relative;">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Live Transactin</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div id="high-dynamic-chart" style="height: 410px;"></div>
                        </div>

                     </div>
                  </div>
                  <div class="col-lg-4">
                     <!-- <div class="iq-card iq-card-block iq-card-stretch iq-card-height"
                  style="background: #ffffff url(images/page-img/40.png) no-repeat scroll bottom; background-size: contain; height: 505px;">
                  <div class="iq-card-body">
   
                  </div>
               </div> -->
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Top Perfoming product realtime</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div id="home-perfomer-chart"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between border-none">
                           <div class="iq-header-title">
                              <h5 class="card-title">Customer Distribution</h5>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div id="world-map" style="height: 200px; position: relative;"></div>
                        </div>

                        <div class="iq-card" style="box-shadow: none;">
                           <div class="iq-card-header d-flex justify-content-between">
                              <div class="iq-header-title">
                                 <h4 class="card-title">Countries</h4>
                              </div>
                              <div class="iq-card-header-toolbar d-flex align-items-center">
                                 <div class="dropdown">
                                    <span class="dropdown-toggle text-primary" id="dropdownMenuButton6"
                                       data-toggle="dropdown">
                                       <i class="ri-more-2-fill"></i>
                                    </span>
                                    <div class="dropdown-menu dropdown-menu-right"
                                       aria-labelledby="dropdownMenuButton6">
                                       <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                       <a class="dropdown-item" href="#"><i
                                             class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                       <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                       <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                       <a class="dropdown-item" href="#"><i
                                             class="ri-file-download-fill mr-2"></i>Download</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="iq-card-body">
                              <div class="row">
                                 <div class="col-lg-12">
                                    <div class="iq-details">
                                       <span class="title text-dark">United States</span>
                                       <div class="percentage float-right text-primary">95 <span>%</span></div>
                                       <div class="iq-progress-bar-linear d-inline-block w-100">
                                          <div class="iq-progress-bar">
                                             <span class="bg-primary" data-percent="95"></span>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="iq-details mt-3">
                                       <span class="title text-dark">India</span>
                                       <div class="percentage float-right text-warning">75 <span>%</span></div>
                                       <div class="iq-progress-bar-linear d-inline-block w-100">
                                          <div class="iq-progress-bar">
                                             <span class="bg-warning" data-percent="75"></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>


                  </div>
                  <div class="col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">customers buying in real time</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <ul class="perfomer-lists m-0 p-0">
                              <li class="d-flex mb-4 align-items-center">
                                 <div class="user-img img-fluid"><img src="images/user/01.jpg" alt="story-img"
                                       class="rounded-circle avatar-40"></div>
                                 <div class="media-support-info ml-3">
                                    <h6>Paul Molive</h6>
                                    <p class="mb-0 font-size-12">UI/UX Designer</p>
                                 </div>
                                 <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <div class="dropdown">
                                       <span class="dropdown-toggle text-primary" id="dropdownMenuButton41"
                                          data-toggle="dropdown" aria-expanded="false" role="button">
                                          <i class="ri-more-2-line"></i>
                                       </span>
                                       <div class="dropdown-menu dropdown-menu-right" style="">
                                          <a class="dropdown-item" href="#"><i class="ri-eye-line mr-2"></i>View</a>
                                          <a class="dropdown-item" href="#"><i
                                                class="ri-bookmark-line mr-2"></i>Appointment</a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-flex mb-4 align-items-center">
                                 <div class="user-img img-fluid"><img src="images/user/02.jpg" alt="story-img"
                                       class="rounded-circle avatar-40"></div>
                                 <div class="media-support-info ml-3">
                                    <h6>Barb Dwyer</h6>
                                    <p class="mb-0 font-size-12">Developer</p>
                                 </div>
                                 <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <div class="dropdown show">
                                       <span class="dropdown-toggle text-primary" id="dropdownMenuButton42"
                                          data-toggle="dropdown" aria-expanded="true" role="button">
                                          <i class="ri-more-2-line"></i>
                                       </span>
                                       <div class="dropdown-menu dropdown-menu-right">
                                          <a class="dropdown-item" href="#"><i class="ri-eye-line mr-2"></i>View</a>
                                          <a class="dropdown-item" href="#"><i
                                                class="ri-bookmark-line mr-2"></i>Appointment</a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-flex mb-4 align-items-center">
                                 <div class="user-img img-fluid"><img src="images/user/03.jpg" alt="story-img"
                                       class="rounded-circle avatar-40"></div>
                                 <div class="media-support-info ml-3">
                                    <h6>Terry Aki</h6>
                                    <p class="mb-0 font-size-12">Tester</p>
                                 </div>
                                 <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <div class="dropdown show">
                                       <span class="dropdown-toggle text-primary" id="dropdownMenuButton43"
                                          data-toggle="dropdown" aria-expanded="true" role="button">
                                          <i class="ri-more-2-line"></i>
                                       </span>
                                       <div class="dropdown-menu dropdown-menu-right">
                                          <a class="dropdown-item" href="#"><i class="ri-eye-line mr-2"></i>View</a>
                                          <a class="dropdown-item" href="#"><i
                                                class="ri-bookmark-line mr-2"></i>Appointment</a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-flex mb-4 align-items-center">
                                 <div class="user-img img-fluid"><img src="images/user/04.jpg" alt="story-img"
                                       class="rounded-circle avatar-40"></div>
                                 <div class="media-support-info ml-3">
                                    <h6>Robin Banks</h6>
                                    <p class="mb-0 font-size-12">Web Designer</p>
                                 </div>
                                 <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <div class="dropdown show">
                                       <span class="dropdown-toggle text-primary" id="dropdownMenuButton44"
                                          data-toggle="dropdown" aria-expanded="true" role="button">
                                          <i class="ri-more-2-line"></i>
                                       </span>
                                       <div class="dropdown-menu dropdown-menu-right">
                                          <a class="dropdown-item" href="#"><i class="ri-eye-line mr-2"></i>View</a>
                                          <a class="dropdown-item" href="#"><i
                                                class="ri-bookmark-line mr-2"></i>Appointment</a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="d-flex mb-4 align-items-center">
                                 <div class="user-img img-fluid"><img src="images/user/05.jpg" alt="story-img"
                                       class="rounded-circle avatar-40"></div>
                                 <div class="media-support-info ml-3">
                                    <h6>Barry Wine</h6>
                                    <p class="mb-0 font-size-12">Developer</p>
                                 </div>
                                 <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <div class="dropdown show">
                                       <span class="dropdown-toggle text-primary" id="dropdownMenuButton45"
                                          data-toggle="dropdown" aria-expanded="true" role="button">
                                          <i class="ri-more-2-line"></i>
                                       </span>
                                       <div class="dropdown-menu dropdown-menu-right">
                                          <a class="dropdown-item" href="#"><i class="ri-eye-line mr-2"></i>View</a>
                                          <a class="dropdown-item" href="#"><i
                                                class="ri-bookmark-line mr-2"></i>Appointment</a>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height-half">
                        <div class="iq-card-body">
                           <h6>Graph Profit Margin</h6>
                           <h2>80%</h2>
                        </div>
                        <div id="chart-1"></div>
                     </div>
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height-half">
                        <div class="iq-card-body">
                           <h6>Total revenue</h6>
                           <h2>$9250</h2>
                        </div>
                        <div id="chart-2"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-12">
            <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Order Status</h4>
                  </div>
                  <div class="iq-card-header-toolbar d-flex align-items-center">
                     <div class="dropdown">
                        <span class="dropdown-toggle" id="dropdownMenuButton3" data-toggle="dropdown">
                           <i class="ri-more-fill"></i>
                        </span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton3" style="">
                           <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                           <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                           <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                           <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                           <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="iq-card-body">
                  <div class="table-responsive">
                     <table class="table mb-0 table-borderless">
                        <thead>
                           <tr>
                              <th scope="col">Order No</th>
                              <th scope="col">Customers</th>
                              <th scope="col">Location</th>
                              <th scope="col">Order Date</th>
                              <th scope="col">Fulfillment date</th>
                              <th scope="col">Status</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>#1234</td>
                              <td>
                                 <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                       <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg"
                                          alt="" />
                                    </a>

                                 </div>
                              </td>
                              <td>Clifton, USA</td>

                              <td>16/01/2020</td>
                              <td>16/01/2020</td>
                              <td>
                                 <div class="badge badge-pill badge-success">Fulfilled</div>
                              </td>
                           </tr>
                           <tr>
                              <td>#1234</td>
                              <td>
                                 <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                       <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg"
                                          alt="" />
                                    </a>

                                 </div>
                              </td>
                              <td>Clifton, USA</td>

                              <td>16/01/2020</td>
                              <td>16/01/2020</td>
                              <td>
                                 <div class="badge badge-pill badge-danger">Panding</div>
                              </td>
                           </tr>
                           <tr>
                              <td>#1234</td>
                              <td>
                                 <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                       <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg"
                                          alt="" />
                                    </a>

                                 </div>
                              </td>
                              <td>Clifton, USA</td>

                              <td>16/01/2020</td>
                              <td>16/01/2020</td>
                              <td>
                                 <div class="badge badge-pill badge-success">Fulfilled</div>
                              </td>
                           </tr>
                           <tr>
                              <td>#1234</td>
                              <td>
                                 <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                       <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg"
                                          alt="" />
                                    </a>

                                 </div>
                              </td>
                              <td>Clifton, USA</td>

                              <td>16/01/2020</td>
                              <td>16/01/2020</td>
                              <td>
                                 <div class="badge badge-pill badge-danger">Panding</div>
                              </td>
                           </tr>
                           <tr>
                              <td>#1234</td>
                              <td>
                                 <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                       <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg"
                                          alt="" />
                                    </a>

                                 </div>
                              </td>
                              <td>Clifton, USA</td>

                              <td>16/01/2020</td>
                              <td>16/01/2020</td>
                              <td>
                                 <div class="badge badge-pill badge-success">Fulfilled</div>
                              </td>
                           </tr>
                           <tr>
                              <td>#1234</td>
                              <td>
                                 <div class="iq-media-group">
                                    <a href="#" class="iq-media">
                                       <img class="img-fluid avatar-30 rounded-circle" src="/images/user/05.jpg"
                                          alt="" />
                                    </a>

                                 </div>
                              </td>
                              <td>Clifton, USA</td>

                              <td>16/01/2020</td>
                              <td>16/01/2020</td>
                              <td>
                                 <div class="badge badge-pill badge-danger">Panding</div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="/js/highcharts.js"></script>