<%- include ("./partials/sidebars") %>

<!-- TOP Nav Bar -->
<%- include ("./partials/navbar") %>

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Sartor Payment</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <p>To get paid for your orders, you’ll need to provide some information on your business and its ownership.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <div class="stepwizard mt-4">
                            <div class="stepwizard-row setup-panel">
                                <div id="user" class="wizard-step active">
                                    <a href="#user-detail" class="active btn"> <i class="ri-user-fill text-danger"></i><span>Personal Detail</span> </a>
                                </div>
                                <div id="document" class="wizard-step">
                                    <a href="#document-detail" class="btn btn-default disabled"> <i class="ri-lock-unlock-line text-primary"></i><span>Business Detail</span> </a>
                                </div>
                                <div id="bank" class="wizard-step">
                                    <a href="#bank-detail" class="btn btn-default disabled"> <i class="ri-camera-fill text-success"></i><span>Bank Detail</span> </a>
                                </div>
                                <div id="confirm" class="wizard-step">
                                    <a href="#cpnfirm-data" class="btn btn-default disabled"> <i class="ri-check-fill text-warning"></i><span>Confirm</span> </a>
                                </div>
                            </div>
                        </div>
                        <form class="form">
                            <div class="row setup-content" id="user-detail">
                                <div class="col-sm-12">
                                    <div class="col-md-12 p-0">
                                        <h3 class="mb-4">Personal details:</h3>
                                        <div class="iq-card-body">
                                            <p>The person associated with your account should be a business owner or significant shareholder.</p>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">First Name</label>
                                                <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter First Name" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Last Name</label>
                                                <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Last Name" />
                                            </div>

                                             <div class="form-group col-md-6">
                                                <label for="dob">Date Of Birth: *</label>
                                                <input type="date" class="form-control" id="dob" name="dob" />
                                            </div>
                                            
                                            <div class="col-md-6 form-group">
                                                <label for="emailid" class="control-label">Email Id: *</label>
                                                <input type="email" id="emailid" class="form-control" required="required" name="emailid" placeholder="Email ID" />
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <label for="cno" class="control-label">Contact Number: *</label>
                                                <input type="text" class="form-control" required="required" id="cno" name="cno" placeholder="Contact Number" />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="ssn" class="control-label">Social Security number (last 4 digit of SSN)</label>
                                                <input type="text" class="form-control" required="required" id="acno" name="ssn" placeholder="Social Security number" />
                                                <div class="iq-card-body">
                                                    <p>last 4 digits. We use this to verify your identity and keep your account secure..</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row setup-content" id="document-detail">
                                <div class="col-sm-12">
                                    <div class="col-md-12 p-0">
                                        <h3 class="mb-4">Business Details:</h3>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Business type</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option selected="" disabled="">Select Business type</option>
                                                        <option>Individual /sole proprietorship</option>
                                                        <option>corporation</option>
                                                        <option>LLC</option>
                                                        <option>partnership</option>
                                                        <option>Nonprofit</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="fname" class="control-label">Company Name: *</label>
                                                <input type="text" class="form-control" required="required" id="fname" name="fname" placeholder="Company Name" />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <div class="form-group">
                                                    <label for="ccno" class="control-label">Contact Number: *</label>
                                                    <input type="text" class="form-control" required="required" id="ccno" name="ccno" placeholder="Contact Number" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <div class="form-group">
                                                    <label for="EIN" class="control-label">Employer Identification Number (EIN) (optional) *</label>
                                                    <input type="text" class="form-control" required="required" id="url" name="EIN" placeholder="Employer Identification Number." />
                                                </div>
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <div class="form-group">
                                                    <label for="validationDefault03">Address</label>
                                                    <input type="text" class="form-control" id="validationDefault03" required />
                                                </div>
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <div class="form-group">
                                                    <label for="validationDefault03">City</label>
                                                    <input type="text" class="form-control" id="validationDefault03" required />
                                                </div>
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <div class="form-group">
                                                    <label for="validationDefault04">State</label>
                                                    <select class="form-control" id="validationDefault04" required>
                                                        <option value="AL">Alabama</option>
                                                        <option value="AK">Alaska</option>
                                                        <option value="AZ">Arizona</option>
                                                        <option value="AR">Arkansas</option>
                                                        <option value="CA">California</option>
                                                        <option value="CO">Colorado</option>
                                                        <option value="CT">Connecticut</option>
                                                        <option value="DE">Delaware</option>
                                                        <option value="DC">District Of Columbia</option>
                                                        <option value="FL">Florida</option>
                                                        <option value="GA">Georgia</option>
                                                        <option value="HI">Hawaii</option>
                                                        <option value="ID">Idaho</option>
                                                        <option value="IL">Illinois</option>
                                                        <option value="IN">Indiana</option>
                                                        <option value="IA">Iowa</option>
                                                        <option value="KS">Kansas</option>
                                                        <option value="KY">Kentucky</option>
                                                        <option value="LA">Louisiana</option>
                                                        <option value="ME">Maine</option>
                                                        <option value="MD">Maryland</option>
                                                        <option value="MA">Massachusetts</option>
                                                        <option value="MI">Michigan</option>
                                                        <option value="MN">Minnesota</option>
                                                        <option value="MS">Mississippi</option>
                                                        <option value="MO">Missouri</option>
                                                        <option value="MT">Montana</option>
                                                        <option value="NE">Nebraska</option>
                                                        <option value="NV">Nevada</option>
                                                        <option value="NH">New Hampshire</option>
                                                        <option value="NJ">New Jersey</option>
                                                        <option value="NM">New Mexico</option>
                                                        <option value="NY">New York</option>
                                                        <option value="NC">North Carolina</option>
                                                        <option value="ND">North Dakota</option>
                                                        <option value="OH">Ohio</option>
                                                        <option value="OK">Oklahoma</option>
                                                        <option value="OR">Oregon</option>
                                                        <option value="PA">Pennsylvania</option>
                                                        <option value="RI">Rhode Island</option>
                                                        <option value="SC">South Carolina</option>
                                                        <option value="SD">South Dakota</option>
                                                        <option value="TN">Tennessee</option>
                                                        <option value="TX">Texas</option>
                                                        <option value="UT">Utah</option>
                                                        <option value="VT">Vermont</option>
                                                        <option value="VA">Virginia</option>
                                                        <option value="WA">Washington</option>
                                                        <option value="WV">West Virginia</option>
                                                        <option value="WI">Wisconsin</option>
                                                        <option value="WY">Wyoming</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <div class="form-group">
                                                    <label for="validationDefault05">Zip</label>
                                                    <input type="text" class="form-control" id="validationDefault05" required />
                                                </div>
                                            </div>

                                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            <div class="row setup-content" id="bank-detail">
                                    <div class="col-sm-12">
                                        <div class="col-md-12 p-0">
                                            <h3 class="mb-4">Bank Detail:</h3>
                                            <p>These number can be found at the bottom of a check or by contacting your bank</p>
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label for="panno" class="control-label">Routing Number: *</label>
                                                    <input type="text" class="form-control" required="required" id="panno" name="panno" placeholder="Pan No." />
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label for="accno" class="control-label">Account Number: *</label>
                                                    <input type="text" class="form-control" required="required" id="accno" name="accno" placeholder="Account No." />
                                                </div>
                                                
                                            </div>
                                           
                                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row setup-content" id="cpnfirm-data">
                                    <div class="col-sm-12">
                                        <div class="col-md-12 p-0">
                                            <h3 class="mb-4 text-left">Finish:</h3>
                                            <div class="row justify-content-center">
                                                <div class="col-3"><img src="images/page-img/img-success.png" class="fit-image" alt="img-success" /></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
                                
                                
                 
