<!-- Sidebar  -->
<%- include ("./partials/sidebars") %>
    
<!-- TOP Nav Bar -->
<%- include ("./partials/navbar") %>
<div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="iq-card">
                <div class="iq-card-body chat-page p-0">
                   <div class="chat-data-block">
                   <div class="row">
                      <div class="col-lg-3 chat-data-left scroller">
                         <div class="chat-search pt-3 pl-3">
                            <div class="d-flex align-items-center">
                               <div class="chat-profile mr-3">
                                <% if(user.internal.picture == null) { %>
                                    <img src="/images/user/default-user.png" alt="chat-user" class="avatar-60 ">
                                  <% } else { %>
                                  <img src="<%= user.internal.picture %>" alt="chat-user" class="avatar-60 ">
                                  <% } %>
                               </div>
                               <div class="chat-caption">
                                  <h5 class="mb-0"><%= user.internal.first_name; %> <%= user.internal.last_name; %></h5>
                                  <p class="m-0"><%= user.role %></p>
                               </div>
                               <button type="submit" class="close-btn-res p-3"><i class="ri-close-fill"></i></button>
                            </div>
                            
                            <div class="chat-searchbar mt-4">
                                  <div class="form-group chat-search-data m-0">
                                    <%- include ('./partials/messages') %>
                                    <input type="text" id="myInput" onkeyup="mySearchFunction()" class="form-control" placeholder="search users" />
                                  </div>
                               </div>
                         </div>
                         <div class="chat-sidebar-channel scroller mt-4 pl-3">
                            <ul id="myUL" class="iq-chat-ui nav flex-column nav-pills">
                                <% if(customers.length!=0){
                                        var i=1;
                                        customers.forEach(function(data){
                                %>
                               <li>
                                    <a data-toggle="pill" href="#chatbox<%= i; %>">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar mr-3">
                                                <img src="<%= data.picture %>" alt="chatuserimage" class="avatar-50 ">
                                                <span class="avatar-status">
                                                    <%  var current = new Date();
                                                        var oneDay = 1000 * 3600 * 24;
                                                        var diffDays = Math.round(Math.abs((current - status.date_created) / oneDay));
                                                        
                                                        const date1 = new Date(data.user.last_login);
                                                        var now_utc =  Date.UTC(current.getUTCFullYear(), current.getUTCMonth(), current.getUTCDate(),
                                                        current.getUTCHours(), current.getUTCMinutes(), current.getUTCSeconds());
                                                        const date2 = new Date(now_utc);
                                                       
                                                        function getDifferenceInDays(date1, date2) {
                                                        const diffInMs = Math.abs(date2 - date1);
                                                        return diffInMs / (1000 * 60 * 60 * 24);
                                                        }

                                                        function getDifferenceInHours(date1, date2) {
                                                        const diffInMs = Math.abs(date2 - date1);
                                                        return diffInMs / (1000 * 60 * 60);
                                                        }

                                                        function getDifferenceInMinutes(date1, date2) {
                                                        const diffInMs = Math.abs(date2 - date1);
                                                        return diffInMs / (1000 * 60);
                                                        }

                                                        function getDifferenceInSeconds(date1, date2) {
                                                        const diffInMs = Math.abs(date2 - date1);
                                                        return diffInMs / 1000;
                                                        }
                                                        if(status.revoked == true) { %>
                                                            <i class="ri-checkbox-blank-circle-fill text-dark"></i>
                                                        <% } if(status.revoked == false) {
                                                            if(getDifferenceInDays(date1, date2) >= 0 && getDifferenceInDays(date1, date2) < 1) { %>
                                                                <i class="ri-checkbox-blank-circle-fill text-success"></i>
                                                            <% } else if(getDifferenceInDays(date1, date2) >= 1 && getDifferenceInDays(date1, date2) <= 20) {  %>
                                                                <i class="ri-checkbox-blank-circle-fill text-danger"></i>
                                                            <% } else if(getDifferenceInDays(date1, date2) >= 21 && getDifferenceInDays(date1, date2) <= 30) {  %>
                                                                <i class="ri-checkbox-blank-circle-fill text-danger"></i>
                                                            <% } else { %>
                                                                <i class="ri-checkbox-blank-circle-fill text-danger"></i>
                                                            <% } } %>
                                                    
                                                </span>
                                            </div>
                                            <div class="chat-sidebar-name">
                                                <%= data.full_name %>
                                            </div>
                                            <div class="chat-meta float-right text-center mt-2">
                                                <% if(read_stat.is_read == false && read_stat.customer._id == data.id)
                                                { %> 
                                                    <div class="chat-msg-counter bg-danger text-white" title="You have unread messages">U</div>
                                                    
                                                <% } else { %>
                                                    <div class="chat-msg-counter bg-primary text-white">R</div>
                                                <% } %>
                                                
                                            </div>
                                        </div>
                                    </a>
                               </li>
                               <% i++; }); } %>
                               
                            </ul>
                            <script>
                                function mySearchFunction() {
                                    var input, filter, ul, li, a, i, txtValue;
                                    input = document.getElementById("myInput");
                                    filter = input.value.toUpperCase();
                                    ul = document.getElementById("myUL");
                                    li = ul.getElementsByTagName("li");
                                    for (i = 0; i < li.length; i++) {
                                        a = li[i].getElementsByTagName("a")[0];
                                        txtValue = a.textContent || a.innerText;
                                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                            li[i].style.display = "";
                                        } else {
                                            li[i].style.display = "none";
                                        }
                                    }
                                }
                            </script>
                         </div>
                        
                      </div>

                      <div class="col-lg-9 chat-data p-0 chat-data-right">
                         <div class="tab-content">
                            <div class="tab-pane fade active show" id="default-block" role="tabpanel">
                               <div class="chat-start">
                                  <span class="iq-start-icon text-primary"><i class="ri-message-3-line"></i></span>
                                  <button id="chat-start" class="btn bg-white mt-3">Start
                                     Conversation!</button>
                               </div>
                            </div>
                            <% if(customers.length!=0){
                                var i=1;
                                customers.forEach(function(data){
                            %>
                            <div class="tab-pane fade" id="chatbox<%= i; %>" role="tabpanel">
                               <div class="chat-head">
                                  <header class="d-flex justify-content-between align-items-center bg-white pt-3 pr-3 pb-3">
                                    <div class="d-flex align-items-center">
                                    <div id="sidebar-toggle" class="sidebar-toggle">
                                        <i class="ri-menu-3-line"></i>
                                     </div>
                                      <div class="avatar chat-user-profile m-0 mr-3">
                                        <img src="<%= data.picture %>" alt="avatar" class="avatar-50 ">
                                        <span class="avatar-status">
                                            
                                            <% 
                                            
                                            var current = new Date();
                                             
                                            const date1 = new Date(data.user.last_login);
                                            var now_utc =  Date.UTC(current.getUTCFullYear(), current.getUTCMonth(), current.getUTCDate(),
                                            current.getUTCHours(), current.getUTCMinutes(), current.getUTCSeconds());
                                            const date2 = new Date(now_utc);
                                            
                                            function getDifferenceInDays(date1, date2) {
                                            const diffInMs = Math.abs(date2 - date1);
                                            return diffInMs / (1000 * 60 * 60 * 24);
                                            }

                                            function getDifferenceInHours(date1, date2) {
                                            const diffInMs = Math.abs(date2 - date1);
                                            return diffInMs / (1000 * 60 * 60);
                                            }

                                            function getDifferenceInMinutes(date1, date2) {
                                            const diffInMs = Math.abs(date2 - date1);
                                            return diffInMs / (1000 * 60);
                                            }

                                            function getDifferenceInSeconds(date1, date2) {
                                            const diffInMs = Math.abs(date2 - date1);
                                            return diffInMs / 1000;
                                            }
                                            if(status.revoked == true) { %>
                                                <i class="ri-checkbox-blank-circle-fill text-dark"></i>
                                            <% } if(status.revoked == false) {
                                                if(getDifferenceInDays(date1, date2) >= 0 && getDifferenceInDays(date1, date2) < 1) { %>
                                                    <i class="ri-checkbox-blank-circle-fill text-success"></i>
                                                <% } else if(getDifferenceInDays(date1, date2) >= 1 && getDifferenceInDays(date1, date2) <= 20) {  %>
                                                    <i class="ri-checkbox-blank-circle-fill text-danger"></i>
                                                <% } else if(getDifferenceInDays(date1, date2) >= 21 && getDifferenceInDays(date1, date2) <= 30) {  %>
                                                    <i class="ri-checkbox-blank-circle-fill text-danger"></i>
                                                <% } else { %>
                                                    <i class="ri-checkbox-blank-circle-fill text-danger"></i>
                                                <% } } %>

                                        </span>
                                      </div>
                                      <h5 class="mb-0"><%= data.full_name %></h5> 
                                    </div>
                                    
                                    <div class="chat-header-icons d-flex">
                                        <a href="javascript:void();" class="chat-icon-delete iq-bg-primary">
                                            <i class="ri-delete-bin-line"></i>
                                        </a>
                                    </div>
                                  </header>
                                </div>
                               <div class="chat-content scroller">
                                <% if(chat.length!=0){
                                    var m = 0;
                                    chat.forEach(function(messenger){
                                %>   
                                <% if(messenger.created_by._id == user.id && messenger.customer._id == data.id) { %>
                                    <div class="chat">
                                        <div class="chat-user">
                                            <a class="avatar m-0">
                                                <img src="<%= user.internal.picture %>" alt="avatar" class="avatar-35 ">
                                            </a>
                                            <span class="chat-time mt-1">
                                                <% var h = new Date(messenger.created_at).getHours();
                                                    var m = new Date(messenger.created_at).getMinutes();
                                                    h = (h<10) ? '0' + h : h;
                                                    m = (m<10) ? '0' + m : m;
                                                    var output = h + ':' + m;
                                                %>
                                                <%= output %>
                                            </span>
                                        </div>
                                        <div class="chat-detail">
                                            <div class="chat-message">
                                                <p><%= messenger.message %></p>
                                            </div>
                                        </div>
                                    </div>
                                <% } else if(messenger.created_by._id != user.id  && messenger.customer._id == data.id) { %>
                                    <div class="chat chat-left">
                                        <div class="chat-user">
                                        <a class="avatar m-0">
                                            <img src="<%= data.picture %>" alt="avatar" class="avatar-35 ">
                                        </a>
                                            <span class="chat-time mt-1">
                                                <% var h = new Date(messenger.created_at).getHours();
                                                    var m = new Date(messenger.created_at).getMinutes();
                                                    
                                                    h = (h<10) ? '0' + h : h;
                                                    m = (m<10) ? '0' + m : m;
                                                    
                                                    var output = h + ':' + m;
                                                    
                                                    %>
                                                    <%= output %>
                                            </span>
                                        </div>
                                        <div class="chat-detail">
                                        <div class="chat-message">
                                            <p><%= messenger.message %></p>
                                        </div>
                                        </div>
                                    </div>
                                <% } %>
                                    <% m++; }); } %>
                               </div>
                               <div class="chat-footer p-3 bg-white">
                                  <form class="d-flex align-items-center"  action="/app/chat" method="post">
                                    <input type="hidden" name="customer" value="<%= data.id %>" />
                                    <input type="hidden" name="salers" value="<%= user.internal._id %>" />
                                     <input type="text" class="form-control mr-3" placeholder="Type your message" name="message">
                                   <button type="submit" class="btn btn-primary d-flex align-items-center p-2"><i class="fa fa-paper-plane-o" aria-hidden="true"></i><span class="d-none d-lg-block ml-1">Send</span></button>
                                 </form>
                               </div>
                            </div>
                            <% i++; }); } %>
                         </div>
                      </div>
                   </div>
                </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>