<div class="col-sm-6 text-center">
    <div class="sign-in-detail text-white">
        <a class="sign-in-logo mb-5" href="#"><img src="images/gradient-1-app-concept-white.png" class="img-fluid" alt="logo" style="width: 20%; height: auto"></a>
        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
            <div class="item">
                <img src="/images/login/282-2824470_nike-logo-clipart-png-download.png" class="img-fluid mb-4" alt="logo">
                <!-- <h4 class="mb-1 text-white">Manage your orders</h4>
                <p>It is a long established fact that a reader will be distracted by the readable content.</p> -->
            </div>
            <div class="item">
                <img src="/images/login/PUMA.png" class="img-fluid mb-4" alt="logo">
                <!-- <h4 class="mb-1 text-white">PUMA</h4>
                <p>It is a long established fact that a reader will be distracted by the readable content.</p> -->
            </div>
            <div class="item">
                <img src="/images/login/Hugo-Boss-Logo-removebg-preview.png" class="img-fluid mb-4" alt="logo">
                <!-- <h4 class="mb-1 text-white">PUMA</h4>
                <p>It is a long established fact that a reader will be distracted by the readable content.</p> -->
            </div>
            <div class="item">
                <img src="/images/login/adidas.png" class="img-fluid mb-4" alt="logo">
                <!-- <h4 class="mb-1 text-white">PUMA</h4>
                <p>It is a long established fact that a reader will be distracted by the readable content.</p> -->
            </div>
        </div>
    </div>
</div>